
a {
  text-align: center;
}
h1{
  text-align: center;
  margin-bottom: 5em;
} 


.container-fluid{
margin-top: 3em;
}

/* Css voor al de foto's */
  img {
    max-width: 20%;
    height: auto;
    margin: 2em;   
  }
