@{
    ViewBag.Title = "Home";
}



        <div class="card-deck container-fluid" style="margin-top: 2em; ">



            <div class="card m-3 " style="min-width: 18rem; max-width: 30.5%;background-color: #702c2c">
                <div class="card-header">
                    <h3>Slot Machine</h3>
                </div>
                <img class="card-img-top imageThumbnail" src="~/images/WebsitePictures/SlotMachineBanner.jpg">
                <div class="card-footer text-center bg-danger">
                    <a class="btn btn-warning m-1" href="/Home/Edit">PLAY</a>
                </div>
            </div>
            <div class="card m-3 " style="min-width: 18rem; max-width: 30.5%;background-color: #702c2c">
                <div class="card-header">
                    <h3>Roulette</h3>
                </div>
                <img class="card-img-top imageThumbnail" src="~/images/WebsitePictures/RouletteBanner.jpg">
                <div class="card-footer text-center">
                    <a class="btn btn-warning m-1" href="/Home/Edit">PLAY</a>
                </div>
            </div>
            <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;background-color: #702c2c">
                <div class="card-header">
                    <h3>Blackjack</h3>
                </div>
                <img class="card-img-top imageThumbnail" src="~/images/WebsitePictures/BlackjackBanner.jpg">
                <div class="card-footer text-center">
                    <a class="btn btn-warning m-1" href="/Home/Edit">PLAY</a>
                </div>
            </div>

        </div>


