@model IEnumerable<ApplicationUser>;
@{
    ViewData["Title"] = "Player Search";

}

<h1>All Users</h1>

@if (Model.Any())
{

    foreach (var user in Model)
    {
        var profilePicturePath = $"/images/{user.ProfilePicturePath ?? "DefaultProfilePicture.jpg"}";
        <div class="card mb-3  bg-dark">
            <div class="card-body">
                <img style="width: 10em;"src=@profilePicturePath>
                <h5 style="display: inline; vertical-align: top; margin-left: 1em;" class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteUser" asp-controller="Administration" asp-route-id="@user.Id" method="post">
                    <a asp-action="PlayerDetails" asp-controller="Account" asp-route-id="@user.Id" class="btn btn-warning">Check profile</a>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No users created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user
            </h5>
            <a class="btn btn-success" style="width:auto" asp-controller="Account" asp-action="Register">
                Add new user
            </a>
        </div>
    </div>
}