@model ApplicationUser
@{
    ViewData["Title"] = "BlackJack";
}
<style>

    .img-blackjack-player {
        border-radius: 0.5em;
        height: 10em;
        /*box-shadow: 2px 2px 2px grey;*/ 
        margin-left: 2em;
    }
    .img-blackjack-dealer {
        border-radius: 0.5em;
        height: 100%;
        /*box-shadow: 2px 2px 2px grey;*/ 
        margin-left: 2em;
    }

    .img-inline {
        display: inline;
    }
</style>


<div class="card mb-3  bg-white">
    <div class="card mb-3  bg-dark">
        <div class="card-header" style="font-size: 2.5em; text-align: center">
            <span id="Message">Play</span> <input disabled style="width: 6em; display:inline; float:right;" value="@Model.Blyats" class="form-control" id="Blyats">


        </div>
    </div>
    <div class="card-body" style="height: 7em; background-color: #702c2c">
        <div class="img-inline" id="FotoDealer"></div>
    </div>
</div>
<div id="WaardeDealer">Dealer score: </div>


<div id="WaardeSpeler">Player score: </div>

<div class="card mb-3  bg-white">
    <div class="card-body" style="height: 14em; background-color: #702c2c">
        <div class="img-inline" id="FotoKaartSpeler">Player:</div>
    </div>
    <div class="card mb-3" style="display: flex;flex: auto;flex-direction: row;  background-color: #702c2c; height: 4em;">
         <button class="btn bg-success" style="width: 17%; font-size:1.5em;color:white;" id="btnSpelerGetCard">Add card</button>
        <button class="btn bg-danger" style="width: 15%; font-size:1.5em;color:white;" id="btnSpelerStop">Stop</button>
        <button class="btn bg-warning" style="width: 25%;font-size:1.5em;color:white;" id="btnSpeelOpnieuw">New game</button>
        <input style="height: auto;" type="number" class="form-control" placeholder="0" id="Bet">
    </div>
</div>

<div class="text-danger" id="Error"></div>




<script type="text/javascript">

    $(document).ready(function () {

        var suits = ["Spades", "Diamonds", "Clubs", "Hearts"];
        var values = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "J", "Q", "K"];



        //Var die gebruikt wordt om totale waarde van kaarten te bereken
        let totaleWaardeSpeler = 0;
        let totaleWaardeDealer = 0;

        //2 divs waar foto's ingestoken worden
        let kaartDealer = document.querySelector("#FotoDealer");
        let kaartSpeler = document.querySelector("#FotoKaartSpeler");

        //buttons
        let btnSpelerGetCard = document.querySelector("#btnSpelerGetCard");
        let btnSpelerStop = document.querySelector("#btnSpelerStop");
        let btnSpeelOpnieuw = document.querySelector("#btnSpeelOpnieuw");

        //Eerste kaart van dealer
        getCard(kaartDealer, "dealer")

        //Button om kaart aan speler te geven
        btnSpelerGetCard.addEventListener("click", function () {
            getCard(kaartSpeler, "speler")
        });

        //Button Stop van speler
        btnSpelerStop.addEventListener("click", function () {
            dealerSpeelt();
        });

        btnSpeelOpnieuw.addEventListener("click", function () {
            location.reload();
        });

        function dealerSpeelt() {
            let betValue = document.getElementById("Bet").value;
            while (totaleWaardeDealer <= totaleWaardeSpeler) {
                getCard(kaartDealer, "dealer")
            }
            if (totaleWaardeDealer <= 21) {

                btnSpelerGetCard.disabled = true;
                btnSpelerStop.disabled = true;
                betValue = 0 - betValue;
                document.getElementById("Message").innerHTML = "Dealer wins! you lose " + Math.abs(betValue) + " Blyats!";

            }
            else {

                betValue = Number(betValue) + (Number(betValue) * 1.5);
                 document.getElementById("Message").innerHTML = "Player wins! you win " + betValue + " Blyats!";
                btnSpelerGetCard.disabled = true;

            }
            btnSpeelOpnieuw.disabled = false;
            $.ajax({
                type: 'POST',
                url: '/Games/Blackjack',
                data: { getal: betValue },
                success: function (result) {
                    betValue = result;
                    document.getElementById("Blyats").value = betValue;
                }
            });

        }

        function getCard(divFoto, soortSpeler) {

                let betValue = Number(document.getElementById("Bet").value);
         if (betValue > Number(document.getElementById("Blyats").value)) {
            document.getElementById("Error").innerHTML = "You don't have enough blyats to spend that much, smart guy.";
            return;
         }
         else if (betValue < 0 || betValue.toString().includes(',') || betValue.toString().includes('.'))
       {
            document.getElementById("Error").innerHTML = "You have entered an illegal number, please don't do this.";
            return;

        }
        else
        {
             document.getElementById("Error").innerHTML = "";
        }
            let card;
            //Haal random waarde uit array waardes
            let waarde = values[Math.floor(Math.random() * values.length)].charAt(0)
            //Haal random symbool uit array symbols
            let symbool = suits[Math.floor(Math.random() * suits.length)].charAt(0)

            //Maak kaart
            card = waarde + symbool;

            switch (waarde) {
                case "J":
                    waarde = 11
                    break;
                case "Q":
                    waarde = 12
                    break;
                case "K":
                    waarde = 13
            }
            if (soortSpeler == "speler") {

                document.getElementById("Bet").disabled = true;
                btnSpeelOpnieuw.disabled = true;
                totaleWaardeSpeler += parseInt(waarde);

                console.log(totaleWaardeSpeler);
                let img = document.createElement("img");
                img.setAttribute("src", `/images/Cards/${card}.jpg`);
                img.classList.add("img-blackjack-player");
                divFoto.appendChild(img);

                document.querySelector("#WaardeSpeler").innerHTML = `Score speler: ${totaleWaardeSpeler}`;
                if (totaleWaardeSpeler > 21) {

                    betValue = 0 - betValue;
                    document.getElementById("Message").innerHTML = "Dealer wins! you lose " + Math.abs(betValue) + " Blyats!";
                    btnSpelerGetCard.disabled = true;
                    btnSpelerStop.disabled = true;
                    btnSpeelOpnieuw.disabled = false;



                    $.ajax({
                        type: 'POST',
                        url: '/Games/Blackjack',
                        data: { getal: betValue },
                        success: function (result) {
                            betValue = result;
                            document.getElementById("Blyats").value = betValue;
                        }
                    });
                }
            }
            if (soortSpeler == "dealer") {

                console.log(totaleWaardeSpeler);
                let img = document.createElement("img");
                img.setAttribute("src", `/images/Cards/${card}.jpg`);
                img.classList.add("img-blackjack-dealer");
                divFoto.appendChild(img);

                totaleWaardeDealer += parseInt(waarde);
                document.querySelector("#WaardeDealer").innerHTML = `Score dealer: ${totaleWaardeDealer}`


            }

        }
    })
</script>