@model ApplicationUser
@{
    ViewData["Title"] = "BlackJack";
}
<style>

    .img-blackjack-player {
        border-radius: 0.2em;
        height: 10em;
       /* box-shadow: 2px 2px 2px grey; */
        padding-left: 2em;
    }
    .img-blackjack-dealer {
        border-radius: 0.2em;
        height: 100%;
       /* box-shadow: 2px 2px 2px grey; */
        padding-left: 2em;
    }

    .img-inline {
        display: inline;
    }
</style>




<div class="card mb-3  bg-white">
    <div class="card mb-3  bg-dark">
        <div class="card-header" style="font-size: 2.5em; text-align: center">
            <span id="Message">Play</span> <input disabled style="width: 6em; display:inline; float:right;" asp-for="@Model.Blyats" class="form-control" id="Blyats">


        </div>
    </div>
    <div class="card-body" style="height: 7em;">
        <div class="img-inline" id="FotoDealer"></div>
    </div>
</div>
<div id="WaardeDealer">totale score : </div>


<div id="WaardeSpeler"> totale score: </div>

<div class="card mb-3  bg-white">
    <div class="card-body" style="height: 14em;">
        <div class="img-inline" id="FotoKaartSpeler">Speler:</div>
    </div>
</div>


<input style="height: auto;" type="number" class="form-control" id="Bet">
<button id="btnSpelerGetCard">SPeler get kaart</button>
<button id="btnSpelerStop">stop</button>
<button id="btnSpeelOpnieuw">Speel opnieuw</button>


<script type="text/javascript">

    $(document).ready(function () {

        var suits = ["Spades", "Diamonds", "Clubs", "Hearts"];
        var values = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "J", "Q", "K"];



        //Var die gebruikt wordt om totale waarde van kaarten te bereken
        let totaleWaardeSpeler = 0;
        let totaleWaardeDealer = 0;

        //2 divs waar foto's ingestoken worden
        let kaartDealer = document.querySelector("#FotoDealer");
        let kaartSpeler = document.querySelector("#FotoKaartSpeler");

        //buttons
        let btnSpelerGetCard = document.querySelector("#btnSpelerGetCard");
        let btnSpelerStop = document.querySelector("#btnSpelerStop");
        let btnSpeelOpnieuw = document.querySelector("#btnSpeelOpnieuw");

        //Eerste kaart van dealer
        getCard(kaartDealer, "dealer")

        //Button om kaart aan speler te geven
        btnSpelerGetCard.addEventListener("click", function () {
            getCard(kaartSpeler, "speler")
        });

        //Button Stop van speler
        btnSpelerStop.addEventListener("click", function () {
            dealerSpeelt();
        });

        btnSpeelOpnieuw.addEventListener("click", function () {
            location.reload();
        });

        function dealerSpeelt() {
            let getal = document.getElementById("Bet").value;
            while (totaleWaardeDealer <= totaleWaardeSpeler) {
                getCard(kaartDealer, "dealer")
            }
            if (totaleWaardeDealer <= 21) {
                
                btnSpelerGetCard.disabled = true;
                btnSpelerStop.disabled = true;
                getal = 0 - getal;
                document.getElementById("Message").innerHTML = "Dealer wins! you lose " + getal + " Blyats!";

            }
            else {
                
                getal = getal + (getal * 1.5);
                 document.getElementById("Message").innerHTML = "Player wins! you win " + getal + " Blyats!";
                btnSpelerGetCard.disabled = true;

            }
            $.ajax({
                type: 'POST',
                url: '/Games/Blackjack',
                data: { getal: getal },
                success: function (result) {
                    getal = result;
                    document.getElementById("Blyats").value = getal;
                }
            });

        }

        function getCard(divFoto,soortSpeler) {
            let getal = document.getElementById("Bet").value;
            let card;
            //Haal random waarde uit array waardes
            let waarde = values[Math.floor(Math.random() * values.length)].charAt(0)
            //Haal random symbool uit array symbols
            let symbool = suits[Math.floor(Math.random() * suits.length)].charAt(0)

            //Maak kaart
            card = waarde + symbool;

            switch (waarde) {
                case "J":
                    waarde = 11
                    break;
                case "Q":
                    waarde = 12
                    break;
                case "K":
                    waarde = 13
            }
            if (soortSpeler == "speler") {
                totaleWaardeSpeler += parseInt(waarde);

                console.log(totaleWaardeSpeler);
                let img = document.createElement("img");
                img.setAttribute("src", `/images/Cards/${card}.jpg`);
                img.classList.add("img-blackjack-player");
                divFoto.appendChild(img);

                document.querySelector("#WaardeSpeler").innerHTML = `Score speler: ${totaleWaardeSpeler}`;
                if (totaleWaardeSpeler > 21) {
                   
                    getal = 0 - getal;
                       document.getElementById("Message").innerHTML = "Dealer wins! you lose " + getal + " Blyats!";
                    btnSpelerGetCard.disabled = true;
                    btnSpelerStop.disabled = true;

                   

                    $.ajax({
                        type: 'POST',
                        url: '/Games/Blackjack',
                        data: { getal: getal },
                        success: function (result) {
                            getal = result;
                             document.getElementById("Blyats").value = getal;
                        }
                    });
                }
            }
            if (soortSpeler == "dealer") {

                console.log(totaleWaardeSpeler);
                let img = document.createElement("img");
                img.setAttribute("src", `/images/Cards/${card}.jpg`);
                img.classList.add("img-blackjack-dealer");
                divFoto.appendChild(img);

                totaleWaardeDealer += parseInt(waarde);
                document.querySelector("#WaardeDealer").innerHTML = `Score dealer: ${totaleWaardeDealer}`

                
            }
      
        }
    })
</script>