@model ApplicationUser
@{
    ViewData["Title"] = "BlackJack";
}
<style>
    .img-blackjack {
        border-radius: 1em;
        width: 15%;
        height: 20em;
    }

    .img-inline {
        display: inline;
    }
</style>
<h1>BlackJack</h1>


<h2 id="getal" asp-for="@Model.Blyats"></h2>

<div class="card mb-3  bg-white">
    <div class="card-body" style="height: 22em;">
        <div class="img-inline" id="FotoDealer"></div>      
    </div>
</div>
<div id="WaardeDealer">totale score : </div>


<div id="WaardeSpeler"> totale score: </div>

<div class="card mb-3  bg-white">
    <div class="card-body" style="height: 22em;">
        <div class="img-inline" id="FotoKaartSpeler">Speler:</div>
    </div>
</div>


<input style="height: auto;" type="number" class="form-control" id="Bet">
<button id="btnSpelerGetCard">SPeler get kaart</button>
<button id="btnSpelerStop">stop</button>
<button id="btnSpeelOpnieuw">Speel opnieuw</button>


<script type="text/javascript">

    $(document).ready(function () {

        var suits = ["Spades", "Diamonds", "Clubs", "Hearts"];
        var values = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "J", "Q", "K"];



        //Var die gebruikt wordt om totale waarde van kaarten te bereken
        let totaleWaardeSpeler = 0;
        let totaleWaardeDealer = 0;

        //2 divs waar foto's ingestoken worden
        let kaartDealer = document.querySelector("#FotoDealer");
        let kaartSpeler = document.querySelector("#FotoKaartSpeler");

        //buttons
        let btnSpelerGetCard = document.querySelector("#btnSpelerGetCard");
        let btnSpelerStop = document.querySelector("#btnSpelerStop");
        let btnSpeelOpnieuw = document.querySelector("#btnSpeelOpnieuw");

        //Eerste kaart van dealer
        getCard(kaartDealer, "dealer")

        //Button om kaart aan speler te geven
        btnSpelerGetCard.addEventListener("click", function () {
            getCard(kaartSpeler, "speler")
        });

        //Button Stop van speler
        btnSpelerStop.addEventListener("click", function () {
            dealerSpeelt();
        });

        btnSpeelOpnieuw.addEventListener("click", function () {
            location.reload();
        });

        function dealerSpeelt() {
            let getal = document.getElementById("Bet").value;
            while (totaleWaardeDealer <= totaleWaardeSpeler) {
                getCard(kaartDealer, "dealer")
            }
            if (totaleWaardeDealer <= 21) {
                alert("Dealer wint");
                getal = 0 - getal;

            }
            else {
                alert("speler wint");
                getal = getal * 10;

            }
            $.ajax({
                type: 'POST',
                url: '/Games/Blackjack',
                data: { getal: getal },
                success: function (result) {
                    getal = result;
                    document.getElementById("getal").innerHTML = "Blyats " + getal;
                }
            });

        }

        function getCard(divFoto, soortSpeler) {
            let getal = document.getElementById("Bet").value;
            let card;
            //Haal random waarde uit array waardes
            let waarde = values[Math.floor(Math.random() * values.length)].charAt(0)
            //Haal random symbool uit array symbols
            let symbool = suits[Math.floor(Math.random() * suits.length)].charAt(0)

            //Maak kaart
            card = waarde + symbool;

            switch (waarde) {
                case "J":
                    waarde = 11
                    break;
                case "Q":
                    waarde = 12
                    break;
                case "K":
                    waarde = 13
            }
            if (soortSpeler == "speler") {
                totaleWaardeSpeler += parseInt(waarde);
                document.querySelector("#WaardeSpeler").innerHTML = `Score speler: ${totaleWaardeSpeler}`;
                if (totaleWaardeSpeler > 21) {
                    //hier komt code als speler meer als 21 heeft
                    alert("you lose");
                    getal = 0 - getal;

                    $.ajax({
                        type: 'POST',
                        url: '/Games/Blackjack',
                        data: { getal: getal },
                        success: function (result) {
                            getal = result;
                            document.getElementById("getal").innerHTML = "Blyats " + getal;
                        }
                    });
                }
            }
            if (soortSpeler == "dealer") {
                totaleWaardeDealer += parseInt(waarde);
                document.querySelector("#WaardeDealer").innerHTML = `Score dealer: ${totaleWaardeDealer}`
            }

            console.log(totaleWaardeSpeler);
            let img = document.createElement("img");
            img.setAttribute("src", `/images/Cards/${card}.jpg`);
            img.classList.add("img-blackjack");
            divFoto.appendChild(img);


        }
    })
</script>