@model ApplicationUser
@{
    ViewData["Title"] = "BlackJack";
}
<style>

    .img-blackjack-player {
        border-radius: 0.5em;
        height: 10em;
        /*box-shadow: 2px 2px 2px grey;*/ 
        margin-left: 2em;
    }
    .img-blackjack-dealer {
        border-radius: 0.5em;
        height: 100%;
        /*box-shadow: 2px 2px 2px grey;*/ 
        margin-left: 2em;
    }

    .img-inline {
        display: inline;
    }
</style>


<div class="card mb-3  bg-white">
    <div class="card mb-3  bg-dark">
        <div class="card-header" style="font-size: 2.5em; text-align: center">
            <span id="Message">Play</span> <input disabled style="width: 6em; display:inline; float:right;" value="@Model.Blyats" class="form-control" id="Blyats">


        </div>
    </div>
    <div class="card-body" style="height: 7em; background-color: #702c2c">
        <div class="img-inline" id="ImageDealer"></div>
    </div>
</div>
<div id="valueDealer">Dealer score: </div>


<div id="valuePlayer">Player score: </div>

<div class="card mb-3  bg-white">
    <div class="card-body" style="height: 14em; background-color: #702c2c">
        <div class="img-inline" id="ImagePlayer">Player:</div>
    </div>
    <div class="card mb-3" style="display: flex;flex: auto;flex-direction: row;  background-color: #702c2c; height: 4em;">
         <button class="btn bg-success" style="width: 17%; font-size:1.5em;color:white;" id="btnPlayerGetCard">Add card</button>
        <button class="btn bg-danger" style="width: 15%; font-size:1.5em;color:white;" id="btnPlayerStop">Stop</button>
        <button class="btn bg-warning" style="width: 25%;font-size:1.5em;color:white;" id="btnNewGame">New game</button>
        <input style="height: auto;" type="number" class="form-control" placeholder="0" id="Bet">
    </div>
</div>

<div class="text-danger" id="Error"></div>




<script type="text/javascript">

    $(document).ready(function () {

        var suits = ["Spades", "Diamonds", "Clubs", "Hearts"];
        var values = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "J", "Q", "K"];



        //Var die gebruikt wordt om totale value van kaarten te bereken
        let totalValuePlayer = 0;
        let totalValueDealer = 0;

        //2 divs waar foto's ingestoken worden
        let cardDealer = document.querySelector("#ImageDealer");
        let cardPlayer = document.querySelector("#ImagePlayer");

        //buttons
        let btnPlayerGetCard = document.querySelector("#btnPlayerGetCard");
        let btnPlayerStop = document.querySelector("#btnPlayerStop");
        let btnNewGame = document.querySelector("#btnNewGame");

        //Eerste kaart van dealer
        getCard(cardDealer, "dealer")

        //Button om kaart aan player te geven
        btnPlayerGetCard.addEventListener("click", function () {
            getCard(cardPlayer, "player")
        });

        //Button Stop van player
        btnPlayerStop.addEventListener("click", function () {
            turnDealer();
        });

        btnNewGame.addEventListener("click", function () {
            location.reload();
        });

        function turnDealer() {
            let betValue = document.getElementById("Bet").value;
            while (totalValueDealer <= totalValuePlayer) {
                getCard(cardDealer, "dealer")
            }
            if (totalValueDealer <= 21) {

                btnPlayerGetCard.disabled = true;
                btnPlayerStop.disabled = true;
                betValue = 0 - betValue;
                document.getElementById("Message").innerHTML = "Dealer wins! you lose " + Math.abs(betValue) + " Blyats!";

            }
            else {

                betValue = Number(betValue) + (Number(betValue) * 1.5);
                 document.getElementById("Message").innerHTML = "Player wins! you win " + betValue + " Blyats!";
                btnPlayerGetCard.disabled = true;

            }
            btnNewGame.disabled = false;
            console.log(betValue);
            $.ajax({
                type: 'POST',
                url: '/Games/PlayGame',
                data: { value: betValue },
                success: function (result) {
                    betValue = result;
                    document.getElementById("Blyats").value = betValue;
                }
            });

        }

        function getCard(divFoto, playerType) {

                let betValue = Number(document.getElementById("Bet").value);
         if (betValue > Number(document.getElementById("Blyats").value)) {
            document.getElementById("Error").innerHTML = "You don't have enough blyats to spend that much, smart guy.";
            return;
         }
         else if (betValue < 0 || betValue.toString().includes(',') || betValue.toString().includes('.'))
       {
            document.getElementById("Error").innerHTML = "You have entered an illegal number, please don't do this.";
            return;

        }
        else
        {
             document.getElementById("Error").innerHTML = "";
        }
            let card;
            //Haal random value uit array values
            let value = values[Math.floor(Math.random() * values.length)].charAt(0)
            //Haal random symbool uit array symbols
            let symbool = suits[Math.floor(Math.random() * suits.length)].charAt(0)

            //Maak kaart
            card = value + symbool;

            switch (value) {
                case "J":
                    value = 11
                    break;
                case "Q":
                    value = 12
                    break;
                case "K":
                    value = 13
            }
            if (playerType == "player") {

                document.getElementById("Bet").disabled = true;
                btnNewGame.disabled = true;
                totalValuePlayer += parseInt(value);

                console.log(totalValuePlayer);
                let img = document.createElement("img");
                img.setAttribute("src", `/images/Cards/${card}.jpg`);
                img.classList.add("img-blackjack-player");
                divFoto.appendChild(img);

                document.querySelector("#valuePlayer").innerHTML = `Score player: ${totalValuePlayer}`;
                if (totalValuePlayer > 21) {

                    betValue = 0 - betValue;
                    document.getElementById("Message").innerHTML = "Dealer wins! you lose " + Math.abs(betValue) + " Blyats!";
                    btnPlayerGetCard.disabled = true;
                    btnPlayerStop.disabled = true;
                    btnNewGame.disabled = false;



                    $.ajax({
                        type: 'POST',
                        url: '/Games/PlayGame',
                        data: { value: betValue },
                        success: function (result) {
                            betValue = result;
                            document.getElementById("Blyats").value = betValue;
                        }
                    });
                }
            }
            if (playerType == "dealer") {

                console.log(totalValuePlayer);
                let img = document.createElement("img");
                img.setAttribute("src", `/images/Cards/${card}.jpg`);
                img.classList.add("img-blackjack-dealer");
                divFoto.appendChild(img);

                totalValueDealer += parseInt(value);
                document.querySelector("#valueDealer").innerHTML = `Score dealer: ${totalValueDealer}`


            }

        }
    })
</script>