@model ApplicationUser
@inject UserManager<ApplicationUser> userManager;

@{
    ViewData["Title"] = "SlotMachine";
}
<style>
    .img-inline {
        display: inline;
    }

    .img-slotmachine {
        border-radius: 1em;
        width: 33%;
        height: 20em;
    }
</style>

<div class="card mb-3" style="padding: 1.5em;margin-top: 1em; background-color: #702c2c">
    <div class="card mb-3  bg-dark">
        <div class="card-header" style="font-size: 2.5em; text-align: center">
            <span id="Message">Play</span> <input disabled style="width: 6em; display:inline; float:right;" type="number" value="@Model.Blyats" class="form-control" id="Blyats">
        </div>
    </div>
    <div class="card mb-3  bg-white">
        <div class="card-body" style="height: 22em;">
            <div class="img-inline" id="foto1"></div>
            <div class="img-inline" id="foto2"></div>
            <div class="img-inline" id="foto3"></div>
        </div>
    </div>
    <div class="card mb-3  bg-primary" style="display: flex;flex: auto;flex-direction: row;">
        <button class="btn bg-primary" style="width: 880%;font-size:1.5em;color:white;" id="btnSpeelSlot">ROLL</button>
        <input style="height: auto;" type="number" class="form-control" placeholder="0" id="BetValue">
    </div>
</div>
<div class="text-danger" id="Error"></div>

@*<script src="~/lib/jquery/jquery.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {

        let btnSlot = document.querySelector("#btnSpeelSlot");
        btnSlot.addEventListener("click", slotmachine);
    })
    function convertPercentageToValue(percentage) {
        let result;
        switch (true) {
            case (percentage < 27):
                result = 1;
                break;
            case (percentage < 50):
                result = 2;
                break;
            case (percentage < 68):
                result = 3;
                break;
            case (percentage < 80):
                result = 4;
                break;
            case (percentage < 88):
                result = 5;
                break;
            case (percentage < 95):
                result =6;
                break;
            case (percentage < 101):
                result = 7;
                break;
            default:

        }
        return result;
    }

     function slotmachine() {

         let betValue = Number(document.getElementById("BetValue").value);
         if (betValue > Number(document.getElementById("Blyats").value)) {
            document.getElementById("Error").innerHTML = "You don't have enough blyats to spend that much, smart guy.";
            return;
         }
         else if (betValue < 0 || betValue.toString().includes(',') || betValue.toString().includes('.'))
       {
            document.getElementById("Error").innerHTML = "You have entered an illegal number, please don't do this.";
            return;

        }
        else
        {
             document.getElementById("Error").innerHTML = "";
        }

        slotOne = Math.floor(Math.random() * 100) + 1;
        slotTwo = Math.floor(Math.random() * 100) + 1;
        slotThree = Math.floor(Math.random() * 100) + 1;

        let slotOneValue = convertPercentageToValue(slotOne);
        let slotTwoValue = convertPercentageToValue(slotTwo);
        let slotThreeValue = convertPercentageToValue(slotThree);

        let foto1 = document.querySelector("#foto1");
        let foto2 = document.querySelector("#foto2");
        let foto3 = document.querySelector("#foto3");

       let cherriesUrl = "/images/WebsitePictures/GamesPictures/SlotMachine/cherries.png";
        let   heartUrl = "/images/WebsitePictures/GamesPictures/SlotMachine/heart.png";
        let diamondUrl = "/images/WebsitePictures/GamesPictures/SlotMachine/diamond.png";
        let cloverUrl = "/images/WebsitePictures/GamesPictures/SlotMachine/clover.png";
        let coinUrl = "/images/WebsitePictures/GamesPictures/SlotMachine/coin.png";
        let sevenUrl = "/images/WebsitePictures/GamesPictures/SlotMachine/7.png";
        let barUrl = "/images/WebsitePictures/GamesPictures/SlotMachine/bar.png";

        foto1.innerHTML = "";
        foto2.innerHTML = "";
        foto3.innerHTML = "";

        var dict = {
            "1": cherriesUrl,
            "2": heartUrl,
            "3": cloverUrl,
            "4": coinUrl,
            "5": diamondUrl,
            "6": barUrl,
            "7": sevenUrl
        };

        let img = document.createElement("img");
        img.setAttribute("src", `${dict[slotOneValue]}`);
        img.classList.add("img-slotmachine");
        foto1.appendChild(img);

        let img2 = document.createElement("img");
        img2.setAttribute("src", `${dict[slotTwoValue]}`);
        img2.classList.add("img-slotmachine");
        foto2.appendChild(img2);

        let img3 = document.createElement("img");
        img3.setAttribute("src", `${dict[slotThreeValue]}`);
        img3.classList.add("img-slotmachine");
        foto3.appendChild(img3);

        let message = document.getElementById("Message");

        if (img.src == img2.src && img.src == img3.src) {
            switch (true) {
                case img.src.includes("cherries"):
                    betValue = betValue * 2;
                    break;
                case img.src.includes("heart"):
                    betValue = betValue * 5;
                    break;
                case img.src.includes("clover"):
                    betValue = betValue * 10;
                    break;
                case img.src.includes("coin"):
                    betValue = betValue * 15;
                    break;
                case img.src.includes("diamond"):
                    betValue = betValue * 30;
                    break;
                case img.src.includes("bar"):
                    betValue = betValue * 50;
                    break;
                case img.src.includes("7"):
                    betValue = betValue * 100;
                    break;
                default:

            }

            message.innerHTML = "You win: " + betValue + " Blyats!"

        }
        else {
            betValue = 0 - betValue;
            message.innerHTML = "You lose: " + Math.abs(betValue) + " Blyats!"
        }
        let blyats = 0;
        $.ajax({
            type: 'POST',
            url: '/Games/SlotMachine',
            data: { getal: betValue },
            success: function (result) {
               blyats = result;
                document.getElementById("Blyats").value = blyats;
            }
        });
        return blyats;
    }
</script>