@model ApplicationUser

@{
    ViewData["Title"] = "SlotMachine";
}
<style>
    .img-inline {
        display: inline;
    }

    .img-slotmachine {
        border-radius: 1em;
        width: 33%;
        height: 20em;
    }
</style>


<h2 id="getal"></h2>
<div class="card mb-3  bg-danger" style="padding: 1.5em;">
    <div class="card mb-3  bg-dark">
        <div class="card-header" id="Message" style="font-size: 2.5em; text-align: center">
            Play <input disabled style="width: 6em; display:inline; float:right;" asp-for="@Model.Blyats" class="form-control">
        </div>
    </div>
    <div class="card mb-3  bg-white">
        <div class="card-body" style="height: 22em;">
            <div class="img-inline" id="foto1"></div>
            <div class="img-inline" id="foto2"></div>
            <div class="img-inline" id="foto3"></div>
        </div>
    </div>
    <div class="card mb-3  bg-primary" style="display: flex;flex: auto;flex-direction: row;">
        <button class="btn bg-primary" style="width: 880%;font-size:1.5em;color:white;" id="btnSpeelSlot">PLAY THE PORNO GAME </button>
        <input style="height: auto;" type="number" class="form-control" id="BetValue">
    </div>



</div>



@*<script src="~/lib/jquery/jquery.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        let btnSlot = document.querySelector("#btnSpeelSlot");
        btnSlot.addEventListener("click", slotmachine);      
    })

    function slotmachine() {

        let getal = document.getElementById("BetValue").value;

        slotOne = Math.floor(Math.random() * (3 - 1 + 1)) + 1;
        slotTwo = Math.floor(Math.random() * (3 - 1 + 1)) + 1;
        slotThree = Math.floor(Math.random() * (3 - 1 + 1)) + 1;


        let foto1 = document.querySelector("#foto1");
        let foto2 = document.querySelector("#foto2");
        let foto3 = document.querySelector("#foto3");

        foto1url = "/images/foto1.jpg";
        foto2url = "/images/foto2.jpg";
        foto3url = "/images/foto3.jpg";

        foto1.innerHTML = "";
        foto2.innerHTML = "";
        foto3.innerHTML = "";

        var dict = {
            "1": foto1url,
            "2": foto2url,
            "3": foto3url
        };


        let img = document.createElement("img");
        img.setAttribute("src", `${dict[slotOne]}`);
        img.classList.add("img-slotmachine");
        foto1.appendChild(img);
        

        let img2 = document.createElement("img");
        img2.setAttribute("src", `${dict[slotTwo]}`);
        img2.classList.add("img-slotmachine");
        foto2.appendChild(img2);
        

        let img3 = document.createElement("img");
        img3.setAttribute("src", `${dict[slotThree]}`);
        img3.classList.add("img-slotmachine");
        foto3.appendChild(img3);
        
        let message = document.getElementById("Message");

        if (img.src == img2.src && img.src == img3.src) {
            if (img.src.includes("foto1")) {
                getal = getal * 10;
            }
            if (img.src.includes("foto2")) {
                getal = getal * 20;
            }
            if (img.src.includes("foto3")) {
                getal = getal * 40;
            }

            message.innerHTML = "You win: " + getal + " Blyats!"

        }
        else {
            getal = 0 - getal;
                        message.innerHTML = "You lose: " + Math.abs(getal) + " Blyats!"
        }
        $.ajax({
            type: 'POST',
            url: '/Games/SlotMachine',
            data: { getal: getal },
            success: function (result) {
                getal = result;
                document.getElementById("getal").innerHTML = "Blyats " + getal;
            }
        });
    }
</script>


