@model SlotMachineViewModel

@{
    ViewData["Title"] = "SlotMachine";
}

<h1>SlotMachine</h1>

<h2 id="getal"></h2>

<div id="foto1"></div>
<div id="foto2"></div>
<div id="foto3"></div>
<button id="btnSpeelSlot">PLAY THE PORNO GAME </button>

<form>
    <input type="button" class="btn btn-success" id="SlotMachine" style="width:auto" value="getaltimestwo" />


</form>

@*<script src="~/lib/jquery/jquery.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        let btnSlot = document.querySelector("#btnSpeelSlot");

        let getal = 0;
        btnSlot.addEventListener("click", slotmachine);
        document.getElementById("getal").innerHTML = "Getal: " + getal;
            $("#SlotMachine").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/Games/SlotMachine',
                    data: { getal: getal },
                    success: function (result) {         

                        document.getElementById("getal").innerHTML = "Getal: " + getal


                    }
                });

            });
    })

    function slotmachine() {
        slotOne = Math.floor(Math.random() * (3 - 1 + 1)) + 1;
        slotTwo = Math.floor(Math.random() * (3 - 1 + 1)) + 1;
        slotThree = Math.floor(Math.random() * (3 - 1 + 1)) + 1;


        let foto1 = document.querySelector("#foto1");
        let foto2 = document.querySelector("#foto2");
        let foto3 = document.querySelector("#foto3");

        foto1url = "/images/foto1.jpg";        
        foto2url = "/images/foto2.jpg";
        foto3url = "/images/foto3.jpg";

        foto1.innerHTML = "";
        foto2.innerHTML = "";
        foto3.innerHTML = "";

        var dict = {
            "1": foto1url,
            "2": foto2url,
            "3": foto3url
        };


        let img = document.createElement("img");
        img.setAttribute("src", `${dict[slotOne]}`);
        foto1.appendChild(img);

        let img2 = document.createElement("img");
        img2.setAttribute("src", `${dict[slotTwo]}`);
        foto2.appendChild(img2);

        let img3 = document.createElement("img");
        img3.setAttribute("src", `${dict[slotThree]}`);
        foto3.appendChild(img3);

        if (img.src == img2.src && img.src == img3.src) {
            getal = 100;
            alert(getal);
        }
        else {
            getal = -100;
            alert(getal);
        }
    }
</script>


