@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "All Users";
}

<h1>All deleted Users</h1>
<a asp-action="ListUsers" asp-controller="Administration" class="btn btn-primary mb-3" style="width:auto">
    Show all non-deleted users
</a>
@if (Model.Any())
{

    foreach (var user in Model)
    {
        <div class="card mb-3  bg-dark">
            <div class="card-header">
                User Id : @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <form asp-action="RestoreUser" asp-controller="Administration" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn btn-success" style="width: auto" onclick="return confirm('Are you sure you want to restore the user: @user.UserName ')">Restore</button>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card  bg-dark">
        <div class="card-header">
            No users deleted yet
        </div>
    </div>
}